.navbar {
  border-bottom: 1px solid #d7d7d7;
  background-color: #fff;

  &__toggler,
  .navbar-toggler {
    border-color: transparent;
    background-color: transparent;
    &:focus {
      border-color: transparent;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .collapse.mobile-mode {
    &:not(.show) {
      display: block;
    }
  }
  &__logo {
    width: 5rem;
  }

  #navbarText {
    flex-grow: 0;
    .nav-item {
      padding: 0.5rem 1rem;
      font-weight: bold;
      .nav-link {
        color: rgba(0, 0, 0, 1);
        text-transform: uppercase;
      }
    }
  }
}
