.order-overview {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;

  &__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  }
  &__popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 25rem;
    height: 100vh;
    background-color: #fff;
    overflow-y: scroll;
    @media (max-width: 992px) {
      width: 100%;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      padding: 1.2rem;
      text-align: left;
      border-bottom: 1px solid #ccc;
      h3 {
        margin-bottom: 0;
      }
      svg {
        align-self: center;
      }
    }
  }

  &__body {
    text-align: left;
    &__items {
      padding: 1.3rem;
      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
    }
    &__estimate-delivery {
      color: #aaa;
      font-size: 0.8rem;
      font-weight: bold;
      line-height: 2rem;
    }
    &__date {
      font-weight: bold;
      font-size: 2rem;
      padding-bottom: 1rem;
    }
    &__details {
      table {
        width: 100%;
        tr td {
          padding: 0.3rem 0;
          vertical-align: top;
          &:first-child {
            width: 40%;
          }
          &:last-child {
            width: 60%;
            text-align: right;
          }
        }
      }
    }
  }
  &__btn-see-tracking-details {
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
  }
}
