.order-details {
  .items-text {
    padding: 1.5rem;
    b {
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .shipment-status,
  .promo {
    // padding: 2rem;
    background-color: #fff;
    box-shadow: 1px 0px 5px 2px rgba(0, 0, 0, 0.05);
    min-height: 20rem;
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  .promo {
    @media (max-width: 992px) {
      margin-top: 2rem;
    }
  }
  .see-other-btn {
    margin: 2rem 0;
    width: auto;
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .transit-status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .pickup-icon {
      border: 0.5rem solid blue;
      border-radius: 3rem;
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      #pickup-icon {
        transform: scale(110%);
      }
    }
  }
}
