.tracking-details {
  text-align: left;
  padding: 0 1rem 1rem 1rem;
  &__day {
    text-align: left;
  }
  &__pills {
    display: flex;
    background-color: #f7f7f7;
    padding: 0.5rem;
    margin: 1rem 0;
    > div {
      padding: 0.5rem;
      &:first-child {
        border-right: 1px solid #ddd;
      }
    }
    .tracking-details__time {
      color: #aaa;
    }
  }

  &__location {
    text-align: left;
    @media (min-width: 992px) {
      text-align: right;
    }
  }
}
